In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('player_data.csv')

In [3]:
df.head()

,Name,Team,Batting_Hand,Bowling_Type,Role,Matches,Innings,Not Outs,Runs,Highest,...,Balls,Runs.1,Wickets,BBI,BBM,Economy,Average.1,SR.1,5W,10W
0,Ruturaj Gaikwad,Chennai Super Kings,Right,Right-arm offbreak,BATSMAN,6,6,2,204,72,...,-,-,-,-,-,-,-,-,-,-
1,Ambati Rayudu,Chennai Super Kings,Right,Right-arm offbreak,BATSMAN,159,151,27,3659,100,...,-,-,-,-,-,-,-,-,-,-
2,Faf du Plessis,Chennai Super Kings,Right,Right-arm legbreak,BATSMAN,84,77,7,2302,96,...,6,16,0,0/16,0/16,16.0,0.0,0.0,0,0
3,Suresh Raina,Chennai Super Kings,Left,Right-arm offbreak,BATSMAN,193,189,28,5368,100,...,908,1118,25,2/0,2/0,7.39,44.72,36.32,0,0
4,Cheteshwar Pujara,Chennai Super Kings,Right,Right-arm legbreak,BATSMAN,30,22,3,390,51,...,-,-,-,-,-,-,-,-,-,-

In [9]:
df.isna().any()

Name            False
Team            False
Batting_Hand    False
Bowling_Type     True
Role            False
Matches         False
Innings         False
Not Outs        False
Runs            False
Highest         False
Average         False
BF              False
SR              False
100             False
200             False
50              False
4               False
6               False
Matches.1       False
Innings.1       False
Balls           False
Runs.1          False
Wickets         False
BBI             False
BBM             False
Economy         False
Average.1       False
SR.1            False
5W              False
10W             False
dtype: bool

In [5]:
df.count()

Name            196
Team            196
Batting_Hand    196
Bowling_Type    170
Role            196
Matches         196
Innings         196
Not Outs        196
Runs            196
Highest         196
Average         196
BF              196
SR              196
100             196
200             196
50              196
4               196
6               196
Matches.1       196
Innings.1       196
Balls           196
Runs.1          196
Wickets         196
BBI             196
BBM             196
Economy         196
Average.1       196
SR.1            196
5W              196
10W             196
dtype: int64

In [6]:
df.Bowling_Type.unique()

array(['Right-arm offbreak', 'Right-arm legbreak', 'Right-arm medium',
       nan, 'Left-arm orthodox', 'Right-arm fast', 'Left-arm fast',
       'Left-arm chinaman'], dtype=object)

In [7]:
df[df['Bowling_Type'].isna()]

,Name,Team,Batting_Hand,Bowling_Type,Role,Matches,Innings,Not Outs,Runs,Highest,...,Balls,Runs.1,Wickets,BBI,BBM,Economy,Average.1,SR.1,5W,10W
10,Shimron Hetmyer,Delhi Capitals,Left,NaN,BATSMAN,17,16,3,275,75,...,-,-,-,-,-,-,-,-,-,-
13,Mayank Agarwal,Punjab Kings,Right,NaN,BATSMAN,88,83,3,1694,106,...,-,-,-,-,-,-,-,-,-,-
26,Saurabh Tiwary,Mumbai Indians,Left,NaN,BATSMAN,88,70,20,1379,61,...,-,-,-,-,-,-,-,-,-,-
37,Suyash Prabhudessai,Royal Challengers Bangalore,Right,NaN,BATSMAN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,Kuldip Yadav,Rajasthan Royals,Right,NaN,BOWLER,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119,N Jagadeesan,Chennai Super Kings,Right,NaN,WICKET KEEPER,5,2,0,33,33,...,-,-,-,-,-,-,-,-,-,-
121,Rishabh Pant,Delhi Capitals,Left,NaN,WICKET KEEPER,68,68,9,2079,128,...,-,-,-,-,-,-,-,-,-,-
122,Vishnu Vinod,Delhi Capitals,Right,NaN,WICKET KEEPER,3,3,0,19,9,...,-,-,-,-,-,-,-,-,-,-
123,Sam Billings,Delhi Capitals,Right,NaN,WICKET KEEPER,22,19,0,334,56,...,-,-,-,-,-,-,-,-,-,-
124,KL Rahul,Punjab Kings,Right,NaN,WICKET KEEPER,81,72,13,2647,132,...,-,-,-,-,-,-,-,-,-,-
125,Nicholas Pooran,Punjab Kings,Left,NaN,WICKET KEEPER,21,20,4,521,77,...,-,-,-,-,-,-,-,-,-,-
126,Prabhsimran Singh,Punjab Kings,Right,NaN,WICKET KEEPER,3,3,0,31,16,...,-,-,-,-,-,-,-,-,-,-
127,Dinesh Karthik,Kolkata Knight Riders,Right,NaN,WICKET KEEPER,196,177,30,3823,97,...,-,-,-,-,-,-,-,-,-,-
128,Tim Seifert,Kolkata Knight Riders,Right,NaN,WICKET KEEPER,196,177,30,3823,97,...,-,-,-,-,-,-,-,-,-,-
129,Sheldon Jackson,Kolkata Knight Riders,Right,NaN,WICKET KEEPER,4,3,1,38,16,...,-,-,-,-,-,-,-,-,-,-
130,Ishan Kishan,Mumbai Indians,Left,NaN,WICKET KEEPER,51,46,4,1211,99,...,-,-,-,-,-,-,-,-,-,-
131,Aditya Tare,Mumbai Indians,Right,NaN,WICKET KEEPER,35,28,4,339,59,...,-,-,-,-,-,-,-,-,-,-
132,Quinton de Kock,Mumbai Indians,Left,NaN,WICKET KEEPER,66,66,4,1959,108,...,-,-,-,-,-,-,-,-,-,-
133,Sanju Samson,Rajasthan Royals,Right,NaN,WICKET KEEPER,107,103,10,2584,102,...,-,-,-,-,-,-,-,-,-,-
134,Jos Buttler,Rajasthan Royals,Right,NaN,WICKET KEEPER,58,57,8,1714,95,...,-,-,-,-,-,-,-,-,-,-
135,Anuj Rawat,Rajasthan Royals,Left,NaN,WICKET KEEPER,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
137,Josh Philippe,Royal Challengers Bangalore,Right,NaN,WICKET KEEPER,5,5,1,78,33,...,-,-,-,-,-,-,-,-,-,-
138,Mohammed Azharuddeen,Royal Challengers Bangalore,Right,NaN,WICKET KEEPER,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
139,Srikar Bharat,Royal Challengers Bangalore,Right,NaN,WICKET KEEPER,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
140,Wriddhiman Saha,Sunrisers Hyderabad,Right,NaN,WICKET KEEPER,124,99,22,1979,115,...,-,-,-,-,-,-,-,-,-,-
141,Shreevats Goswami,Sunrisers Hyderabad,Left,NaN,WICKET KEEPER,31,21,1,293,52,...,-,-,-,-,-,-,-,-,-,-

All the missing values are for wicket-keepers, and batsmen, and one bowler Kuldip Yadav of Rajasthan Royals. <br>
Kuldip Yadav is a Left-arm fast bowler, so we will fill that value for the player

Name            False
Team            False
Batting_Hand    False
Bowling_Type     True
Role            False
Matches         False
Innings         False
Not Outs        False
Runs            False
Highest         False
Average         False
BF              False
SR              False
100             False
200             False
50              False
4               False
6               False
Matches.1       False
Innings.1       False
Balls           False
Runs.1          False
Wickets         False
BBI             False
BBM             False
Economy         False
Average.1       False
SR.1            False
5W              False
10W             False
dtype: bool

In [13]:
df[df['Name'] == 'Kuldip Yadav']['Bowling_Type'].replace(['NaN'], 'Left-arm fast')

99   NaN
Name: Bowling_Type, dtype: float64

In [14]:
df[df['Name'] == 'Kuldip Yadav']

,Name,Team,Batting_Hand,Bowling_Type,Role,Matches,Innings,Not Outs,Runs,Highest,...,Balls,Runs.1,Wickets,BBI,BBM,Economy,Average.1,SR.1,5W,10W
99,Kuldip Yadav,Rajasthan Royals,Right,NaN,BOWLER,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0